@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@300&display=swap');
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    }
    
    nav ul li{
        display: inline-block;
        list-style: none;
        margin-right: 50px;
        margin-top: 10px;
       
    }
    nav ul li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 25px;
        
    }
    nav ul li a:hover{
        color:#7696a2
    }
    .searchbar{
        margin-right: 50px;
        margin-top: 10px;
    }
p{
    font-family: 'Dancing Script', cursive;
    color: #000000;  
    font-size: 30px; 
    width:600px;
  height: auto;
  padding: 20px;
  margin-left: 500px;
  background-color: #ffffff;
        opacity: .5;
        border-radius: 15px;
        
}
.button {
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  .button a {
    display: inline-block;
    padding: 10px 50px;
    background-color: transparent;
    border-radius: 2px;
    text-decoration:none;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
  }
  
  .button a:hover {
    background: #ffffff;
    color: #491515;
  }